# .env files containing credentials
.env
.env*
!.env.example

# Mac and Linux file system files
*.swp
.DS_Store

# The databases
db/*.sqlite3
db/*.sqlite3*

# rspec persisted state for --only-failures
spec/examples.txt

# Simplecov output
coverage/
